# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Mon Drive\Menu_Information_System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
